In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import mlfromscratch.utils as utils
import mlfromscratch.Supervised.multivariate_regression as regressor

In [3]:
data = pd.read_csv("mlfromscratch/data/vw.csv")
print(data.shape)
data.head()

(15157, 9)

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   T-Roc  2019  25000    Automatic    13904   Diesel  145  49.6         2.0
1   T-Roc  2019  26883    Automatic     4562   Diesel  145  49.6         2.0
2   T-Roc  2019  20000       Manual     7414   Diesel  145  50.4         2.0
3   T-Roc  2019  33492    Automatic     4825   Petrol  145  32.5         2.0
4   T-Roc  2019  22900    Semi-Auto     6500   Petrol  150  39.8         1.5

In [5]:
data.isnull().sum()

model           0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
age             0
dtype: int64

In [4]:
data["age"] = 2020 - data["year"]
data.drop(columns = ["year"], inplace=True)
data.head()

    model  price transmission  mileage fuelType  tax   mpg  engineSize  age
0   T-Roc  25000    Automatic    13904   Diesel  145  49.6         2.0    1
1   T-Roc  26883    Automatic     4562   Diesel  145  49.6         2.0    1
2   T-Roc  20000       Manual     7414   Diesel  145  50.4         2.0    1
3   T-Roc  33492    Automatic     4825   Petrol  145  32.5         2.0    1
4   T-Roc  22900    Semi-Auto     6500   Petrol  150  39.8         1.5    1

In [6]:
data_exp = pd.get_dummies(data)
print(data_exp.shape)
data_exp.head()

(15157, 40)

,price,mileage,tax,mpg,engineSize,age,model_ Amarok,model_ Arteon,model_ Beetle,model_ CC,...,model_ Touareg,model_ Touran,model_ Up,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,25000,13904,145,49.6,2.0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,26883,4562,145,49.6,2.0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,20000,7414,145,50.4,2.0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,33492,4825,145,32.5,2.0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,22900,6500,150,39.8,1.5,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [7]:
data_exp_std = utils.standardize(data_exp.values)
data_exp_std

array([[ 1.05239212, -0.38720878,  0.50812   , ..., -0.0982799 ,
        -0.07598065, -1.13803522],
       [ 1.29521074, -0.82894758,  0.50812   , ..., -0.0982799 ,
        -0.07598065, -1.13803522],
       [ 0.40762679, -0.69409005,  0.50812   , ..., -0.0982799 ,
        -0.07598065, -1.13803522],
       ...,
       [-1.96639916,  2.2653046 ,  1.37452748, ..., -0.0982799 ,
        -0.07598065,  0.87870743],
       [-2.01024321,  2.86601642,  0.58688432, ..., -0.0982799 ,
        -0.07598065,  0.87870743],
       [-1.87548725,  2.4544456 ,  0.50812   , ..., -0.0982799 ,
        -0.07598065,  0.87870743]])

In [8]:
X = data_exp_std[:, 1:]
y = data_exp_std[:, 0]
print("X: ", X,"\ny:", y)

X:  [[-0.38720878  0.50812    -0.30445949 ... -0.0982799  -0.07598065
  -1.13803522]
 [-0.82894758  0.50812    -0.30445949 ... -0.0982799  -0.07598065
  -1.13803522]
 [-0.69409005  0.50812    -0.24581591 ... -0.0982799  -0.07598065
  -1.13803522]
 ...
 [ 2.2653046   1.37452748 -0.86157349 ... -0.0982799  -0.07598065
   0.87870743]
 [ 2.86601642  0.58688432 -0.54636425 ... -0.0982799  -0.07598065
   0.87870743]
 [ 2.4544456   0.50812    -0.54636425 ... -0.0982799  -0.07598065
   0.87870743]]
y: [ 1.05239212  1.29521074  0.40762679 ... -1.96639916 -2.01024321
 -1.87548725]

In [9]:
X_train, X_test, y_train, y_test = utils.train_test_split(X, y, test_size=0.3, shuffle=True)
y_train = y_train.reshape(len(y_train), 1)
y_test = y_test.reshape(len(y_test), 1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(10610, 39)
(4547, 39)
(10610, 1)
(4547, 1)

In [ ]:
regressor.linear_regression_model(X_train, y_train, X_test, y_test, 0.01, 50)

In [13]:
w

NameError: name 'w' is not defined