In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import mlfromscratch.utils
import mlfromscratch.Regression.regression

In [7]:
data = pd.read_csv("mlfromscratch/data/vw.csv")
print(data.shape)
data.head()

(15157, 9)

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   T-Roc  2019  25000    Automatic    13904   Diesel  145  49.6         2.0
1   T-Roc  2019  26883    Automatic     4562   Diesel  145  49.6         2.0
2   T-Roc  2019  20000       Manual     7414   Diesel  145  50.4         2.0
3   T-Roc  2019  33492    Automatic     4825   Petrol  145  32.5         2.0
4   T-Roc  2019  22900    Semi-Auto     6500   Petrol  150  39.8         1.5

In [8]:
data.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [9]:
data["age"] = 2020 - data["year"]
data.drop(columns = ["year"], inplace=True)
data.head()

    model  price transmission  mileage fuelType  tax   mpg  engineSize  age
0   T-Roc  25000    Automatic    13904   Diesel  145  49.6         2.0    1
1   T-Roc  26883    Automatic     4562   Diesel  145  49.6         2.0    1
2   T-Roc  20000       Manual     7414   Diesel  145  50.4         2.0    1
3   T-Roc  33492    Automatic     4825   Petrol  145  32.5         2.0    1
4   T-Roc  22900    Semi-Auto     6500   Petrol  150  39.8         1.5    1

In [10]:
data_exp = pd.get_dummies(data)
print(data_exp.shape)
data_exp.head()

(15157, 40)

,price,mileage,tax,mpg,engineSize,age,model_ Amarok,model_ Arteon,model_ Beetle,model_ CC,...,model_ Touareg,model_ Touran,model_ Up,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,25000,13904,145,49.6,2.0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,26883,4562,145,49.6,2.0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,20000,7414,145,50.4,2.0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,33492,4825,145,32.5,2.0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,22900,6500,150,39.8,1.5,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1